.accordion {
    $acc: #{&};
    padding: 15px;

    &--head {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	cursor: pointer;

	img, i {
	    transition: all .3s ease-in-out;
	}
    }

    &--body {
	background-color: white;
    }

    &--open {
	#{$acc}--head {
	    img, i {
		transform: rotate(180deg);
	    }
	}
    }

    &-enter-active {
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
    }

    &-leave-active {
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    &-enter-to, &-leave {
	max-height: 100px;
	overflow: hidden;
    }

    &-enter, &-leave-to {
	overflow: hidden;
	max-height: 0;
    }
}