.vue-select {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include desktop() {
        max-width: 800px;
        margin: auto;
    }

    & > div {
        & > div {
            margin-bottom: 50px;
            &:first-child {
                background-color: lightgreen;
                .vs {
                    &__dropdown-menu {
                        background: green;

                        li {
                            background-color: unset;
                            color: unset;

                            &:hover {
                                background-color: mediumpurple;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}