// theme breakpoint
$media-break-points: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px,
) !default;

$font-family-primary: 'Titillium Web', sans-serif !default;
$font-family-secondary: 'Inter', sans-serif !default;

$body-font: $font-family-primary;

$base-font-size: 16px;
$base-font-size-m: 14px;
$base-line-height: normal;
$base-letter-spacing: normal;

$base-radius: 4px;

$extra-large-font: 160px !default;
$extra-large-font-m: 72px !default;
$h1-font-size: 65px !default;
$h1-font-size-m: 42px !default;
$h2-font-size: 52px !default;
$h2-font-size-m: 26px !default;
$h3-font-size: 45px !default;
$h3-font-size-m: 32px !default;
$h4-font-size: 20px !default;

// White
$white: #fff !default;
$buttery-white: #FDFCEE !default;

// Black
$black: #000 !default;

$primary: #1D322D !default;
$tertiary: #CBCAC0 !default;
$secondary: $buttery-white !default;

$colors: (
	'primary': $primary,
	'secondary': $secondary,
	'tertiary': $tertiary,
	'white': $white,
	'black': $black,
) !default;

//space
$space: (
	'0': 0,
	'1': 4px,
	'2': 8px,
	'3': 12px,
	'4': 16px,
	'5': 20px,
) !default;
