$media-break-points: (
	xs: 0,
	sm: 576px, // phone()
	md: 768px, // tablet()
	lg: 1024px, // desktop()
	xl: 1280px,
	xxl: 1440px,
	xxxl: 1500px
) !default;

// White
$white: #fff !default;
$buttery-white: #FDFCEE !default;

// Black
$black: #000 !default;

$primary: #1D322D !default;
$tertiary: #CBCAC0 !default;
$secondary: $buttery-white !default;

$colors: (
	'primary': $primary,
	'secondary': $secondary,
	'tertiary': $tertiary,
	'white': $white,
	'black': $black,
) !default;

//space
$space: (
	'0': 0,
	'1': 4px,
	'2': 8px,
	'3': 12px,
	'4': 16px,
	'5': 20px,
	'6': 24px,
	'7': 28px,
	'8': 32px,
	'9': 36px,
	'10': 40px,
	'11': 44px,
	'12': 48px,
	'13': 52px,
	'14': 56px,
	'15': 60px,
) !default;
